<table class="table table-hover">
    <thead>
      <tr>
        <th colspan="2" class="text-center">Danh sách đọc</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.name}}</td>
        <td><div class="btn btn-info" (click)="moveToRead(book)">Đã đọc</div></td>
      </tr>
      <tr>
          <td style="width:80%"><input type="text" class="form-control" style="width:100%" [(ngModel)]="bookAdded"
            placeholder="Thêm sách..."></td>
          <td><button class="btn btn-primary" style="width:40%" (click)="addBook()">Thêm</button></td>
      </tr>
    </tbody>
  </table>
